<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style type="text/css">
  <!--
  
  body {
    font-size:16px;
    color:#777;
  }
  #board_title {
    text-align:center;
    font-size:40px;
    color:#333;
  }
  #panel_title {
    font-size:20px;
    color:#777;
  }
  .label_size {
    font-size:10px;
  }

  -->
  </style>
  
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>